<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>833118938993-8vq1pvp7qbmpa57ru83km98jpd2orgv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.833118938993-8vq1pvp7qbmpa57ru83km98jpd2orgv5</string>
	<key>API_KEY</key>
	<string>redacted</string>
	<key>GCM_SENDER_ID</key>
	<string>833118938993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.NiMBLeInteractive.Dualong</string>
	<key>PROJECT_ID</key>
	<string>dualong-5a841</string>
	<key>STORAGE_BUCKET</key>
	<string>dualong-5a841.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:833118938993:ios:989943c9ceb915a8f438d0</string>
	<key>DATABASE_URL</key>
	<string>https://dualong-5a841.firebaseio.com</string>
</dict>
</plist>
